body
{
   margin:0;
   padding:0;
}
.container
{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    padding:40px 40px;
    margin:20px 20px;
}
.icon
{
    padding-left: 50px;
}
.nav a {
    float: right;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heading {
    position: relative;
    text-align: center;
    color: white;
  }
.role
{
    height: 200px;
    background-color:#00aa9b;
    color:white;
}
.row_work
{
    display:flex;
    justify-content: space-evenly;
    padding-top: 50px;
    
}
.column-work
{
    display: flex;
}

.about-me
{
    background-color:#e4f0f3;
}

.row
{
    display: flex;
    
}
.about-me img
  {
      width: 65%;
      height: 100%;
      padding-left: 80px;
  }

.column_text
{
   align-items: center;
   padding-top: 80px;
}
#sign
{
    font-style: italic;
    font-size: larger;
}
.project
{
    text-align: center;
    font-style: normal;
    padding-top: 50px;
    padding-bottom: 50px;
}
.button 
{
    background-color:#00aa9b;
    border: none;
    color: white;
    padding: 17px 40px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
.card
{
    background-color: black;
    height:200px;
    padding-top: 50px;
}

.row_foot
{
    display:flex;
    column-gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    color:white;
    line-height: 0.75em;
}

.column_piroll
{
   width:30%;
}
h3
{
    padding-bottom: 10px;

}
.column_socialmedia
{
   width:15%;
   padding-left: 20px;
}


@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .container {
    width: 400px;
    height: 400px;
   
   
  }
}
